@define-color foreground #97d0e7;
@define-color background #0C1C31;
@define-color cursor #97d0e7;

@define-color color0 #0C1C31;
@define-color color1 #1169B5;
@define-color color2 #4B73B3;
@define-color color3 #0F73C7;
@define-color color4 #2B78C7;
@define-color color5 #A6778D;
@define-color color6 #1E98E1;
@define-color color7 #97d0e7;
@define-color color8 #6991a1;
@define-color color9 #1169B5;
@define-color color10 #4B73B3;
@define-color color11 #0F73C7;
@define-color color12 #2B78C7;
@define-color color13 #A6778D;
@define-color color14 #1E98E1;
@define-color color15 #97d0e7;
